<div class="mt-1">
    <div class="card md:flex w-full">
        <div class="p-2 md:w-2/5 text-center">
            <img src="../../assets/Images/accenture.png" class="w-40 exp-logo1" alt="accenture">

            <h4 class="font-bold mt-2">Accenture Solution PVT LTD</h4>
            <span class="text-sm">October 2021 - Current</span>
            <a href="https://www.accenture.com/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 ml-auto mr-auto">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
            </a>
        </div>

        <div class="p2 md:w-4/5 max-h-48 overflow-y-scroll">
            <h4 class="font-bold mt-2 pl-5 pb-2" style="margin-left: -10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline-flex">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Application Development Analyst
            </h4>
            <ul class="list-disc text-sm list-inside pl-5">
                <li class="marquee-item">Worked on Angular-based UI migration, implementing custom
                    pipes, directives, filters, and services for enhanced user
                    experience. </li>
                <li class="marquee-item">Developed robust APIs for the application, added encryption
                    for Personal Identity Information (PII) data to enhanced
                    security.</li>
                <li class="marquee-item">Analyzed and optimized application for reduced API calls, created common
                    components in angular to significantly
                    improving overall performance.</li>
                <li class="marquee-item">Implemented Custom Authorization filter, Redis cache, Azure
                    Key Vault, Azure blob storage etc for the application.</li>
            </ul>
        </div>
    </div>

    <div class="card md:flex w-full">
        <div class="p-2 md:w-2/5 text-center">
            <img src="../../assets/Images/ssi.png" class="exp-logo2" alt="ssi">

            <h4 class="font-bold mt-2">Smart Sight Innovations</h4>
            <span class="text-sm">October 2018 - October 2021</span>
            <a href="https://www.smartsight.in/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 ml-auto mr-auto">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
            </a>
        </div>

        <div class="p2 md:w-4/5 max-h-48 overflow-y-scroll">
            <h4 class="font-bold mt-2 pl-5 pb-2" style="margin-left: -10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline-flex">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Sr. Software Engineer
            </h4>
            <ul class="list-disc text-sm list-inside pl-5">
                <li class="marquee-item">Redesigned and expanded web pages using .NET MVC, used
                    HI Charts to enhance user experience, implemented lazy
                    loading through AJAX for improved performance.</li>
                <li class="marquee-item">Created Windows Services to fetch data from server,
                    implemented error-handling mechanisms for robust service
                    functionality.</li>
                <li class="marquee-item">Integrated TWILIO API for automated messaging and
                    establishing one-to-one connections.</li>
                <li class="marquee-item">Implemented Amazon AWS for seamless file management, handling upload/download
                    operations to/from S3 buckets;
                    generated diverse reports in PDF, XLSX, and CSV formats.</li>
            </ul>
        </div>
    </div>

    <div class="card md:flex w-full">
        <div class="p-2 md:w-2/5 text-center">
            <img src="../../assets/Images/ort.png" class="exp-logo3 bg-blue-600" alt="ort">
            <h4 class="font-bold mt-2">One Roof Technologies</h4>
            <span class="text-sm">October 2018 - October 2021</span>
            <a href="https://www.smartsight.in/">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 ml-auto mr-auto">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
            </a>
        </div>

        <div class="p2 md:w-4/5 max-h-48 overflow-y-scroll">
            <h4 class="font-bold mt-2 pl-5 pb-2" style="margin-left: -10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 inline-flex">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                Software Developer Intern
            </h4>
            <ul class="list-disc text-sm list-inside pl-5">
                <li class="marquee-item">Used SignalR to develope Chat Application</li>
                <li class="marquee-item">Create incentive management system using .net framework</li>
                <li class="marquee-item">Worked on MS SQL to store and fetch data from database through stored procedure
                </li>
                <li class="marquee-item">Communicated with team members to get inside knowledge of technology</li>
            </ul>
        </div>
    </div>
</div>