<div class="flex">
    <div class="mt-5 text-stone-500">
        <p class="font-semibold">
            Font-End technologies:
        </p>
        <div class="mt-3">
            <span class="capsule ml-3">Html</span>
            <span class="capsule ml-3">Css</span>
            <span class="capsule ml-3">Bootstrap</span>
            <span class="capsule ml-3">Tailwind</span>
            <span class="capsule ml-3">Javascript</span>
            <span class="capsule ml-3">JQuery</span>
            <span class="capsule ml-3">Angular</span>
        </div>
    </div>

    <div class="mt-5 text-stone-500">
        <p class="font-semibold">
            Back-End & DB technologies:
        </p>
        <div class="mt-3">
            <span class="capsule ml-3">C#</span>
            <span class="capsule ml-3">.Net MVC</span>
            <span class="capsule ml-3">.Net Core API</span>
            <span class="capsule ml-3">Windows Service</span>
            <span class="capsule ml-3">Entity Framework</span>
            <span class="capsule ml-3">Linq</span>
            <span class="capsule ml-3">Sql Server</span>
        </div>
    </div>

    <div class="mt-5 text-stone-500">
        <p class="font-semibold">
            Dev-Ops technologies:
        </p>
        <div class="mt-3">
            <span class="capsule ml-3">Amazon S3</span>
            <span class="capsule ml-3">Amazon SES</span>
            <span class="capsule ml-3">Azure CI Pipeline</span>
            <span class="capsule ml-3">Azure Boards</span>
            <span class="capsule ml-3">Redis Cache</span>
            <span class="capsule ml-3">Twilio</span>
        </div>
    </div>
</div>