<div class="flex">
    <div class="mt-5 text-stone-500">
        <p class="font-semibold">
            Font-End technologies:
        </p>
        <div class="mt-3">
            <span class="capsule ml-3">Html</span>
            <span class="capsule ml-3">Css</span>
            <span class="capsule ml-3">Bootstrap</span>
            <span class="capsule ml-3">Tailwind</span>
            <span class="capsule ml-3">Javascript</span>
            <span class="capsule ml-3">JQuery</span>
            <span class="capsule ml-3">Angular</span>
        </div>
    </div>

</div>